<%# form here, separate window!!! %>
<div class='frame'>
    <%# top header %>
    <div class="box fr__top" id='fr__top'>
      <%= render 'shared/header' %>
    </div>

    <%# middle contents %>
    <div class='middle'>
      <%# side menu bar %>
      <div class="box fr__left">
        <div class="cp__navi">
          <div id="cp__sidenav" class="sidenav">
            <%= link_to 'HOME', root_path, class:'a__nav', id:'home' %>
            <%= link_to 'ABOUT', "#", class:'a__nav', id:'news' %>
            <%= link_to '学生の方々', "#", class:'a__nav', id:'contact' %>
            <%= link_to '大人の方々', "#", class:'a__nav', id:'about' %>
          </div>
        </div>
      </div>

      <%# contents & sub header %>
      <div class="box fr__right">

        <div class='line__space'>
        </div>

        <div class='search__engine'>
          <%= form_with(url: search_contents_path, local: true, method: :get, class: "search__form") do |form| %>
            <%= form.text_field :keyword, placeholder: "投稿コンテンツを検索", class: "search__input" %>
            <%= form.submit "検索", class: "search__btn" %>
          <% end %>
        </div>
        <div class='search__main'>
          <ul class="search__ul">
            <% @contents.each do |content| %>
              <li class='search__contents--list'>
                <%= link_to content_path(content.id) do %>
                <div class='image__video--search'>
                  <% if content.video_content.present? %>
                    <div class='video__content'>
                    <%= video_tag(content.video_content.url, :controls => true, width: "300px")  %>
                    </div>
                  <% else %>
                    <div class="image__content" >
                    <%= image_tag content.image_content.url, width: '300px' %>
                    </div>
                  <% end %>
                </div>
                <div class='content__info'>
                  <h3 class='content__title'>
                    <%= content.title %>
                  </h3>
                  <p class='content__overview'>
                    <%=safe_join(content.overview.split("\n"),tag(:br))%>
                  </p>
                <% end %>
                  <%= link_to content.user.name, user_path(content.user.id) %><br />
                  <%= link_to content.user.occupation, user_path(content.user.id) %><br />
                  <%= render partial: 'contents/contents', locals: { content: content } %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>

      </div>


    </div>

    <%# bottom footer %>
    <div class="box fr__bottom">
      <%= render 'shared/footer' %>
    </div>
</div>