<div class='footer'>
  <div class='golden__saying'>
    <h2>Your life is worth much more than gold.</h2>
    <h3>By Bob Marley</h3>
  </div>
  <div class='footer__contents'>
    <h2 class='footer__content-head'>FUTUREについて</h2>
    <div class='future__details'>
      <div class='future__details-first'>
        <ul>
          <li><%= link_to '組織概要', "#", class: "footer__link" %></li>
          <li><%= link_to 'プライバシーポリシー', "#", class: "footer__link" %></li>
          <li><%= link_to 'FUTURE利用規約', "#", class: "footer__link" %></li>
        </ul>
      </div>
      <div class='future__details-second'>
        <ul>
          <li><%= link_to 'FUTUREガイド', "#", class: "footer__link" %></li>
          <li><%= link_to 'FTUREロゴ利用ガイドライン', "#", class: "footer__link" %></li>
          <li><%= link_to 'お知らせ', "#", class: "footer__link" %></li>
        </ul>
      </div>
    </div>
  </div>
  <%= link_to image_tag("logo_transparent_copy.png", width:'200px', class:"logo__transparent"), root_path %>
  <p>© FUTURE</p>
</div>