<header>
<div>
<%= link_to "トップページ", root_path %>
  <ul>
    <% if user_signed_in? %>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, method: :get, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, method: :get, class: "sign-up" %></li>
    <% end %>
  </ul>

  <div>
    <% if can? :create, current_user %>
    <li><%= link_to 'New content', new_content_path, class: "user-name" %></li>
    <% end %>
  </div>

  <div>
      <ul class="categories">
        <li>
          <p>カテゴリー一覧</p>
          <%= link_to "#", class: 'category__search' do %>
            <ul class='category__parent category__list'>
              <% @parents.each do |parent| %>
                <li class='category__parent--name'>
                  <%= link_to parent.name, "#" %>
                    <ul class='caategory__child category__list'>
                      <% parent.children.each do |child| %>
                        <li class='category__child--name'>
                          <%= link_to child.name, category_path(child.id) %>
                          <%# @contents.ids %>
                        </li>
                      <% end %>
                    </ul>
                </li>
              <% end %>
            </ul>
          <% end %>
        </li>
      </ul>
    </div>

</div>
</header>